{% extends 'film/indexAdmin.html.twig' %}

{% block title %}Musician{% endblock %}

{% block body %}
<section class="main-content">

    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Musicians
                </div>
                <div class="card-body">
    <h1>Musician</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ musician.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ musician.name }}</td>
            </tr>
            <tr>
                <th>Born</th>
                <td>{{ musician.born ? musician.born|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ musician.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ musician.image }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ musician.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('musician_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

                    <a href="{{ path('musician_edit', {'id': musician.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-pencil-square"></i></a>
                    <a href="{{ path('deleteM', {'id': musician.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>

                </div>
            </div>
        </div>
    </div>



    <footer class="footer">
        <span>Copyright &copy; 2018 FixedPlus</span>
    </footer>


</section>
{% endblock %}
